.moviesForm {
    margin-bottom: 20px;
}

.moviesInput {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
}

.moviesButton {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.moviesButton:hover {
    background-color: #ff0066;
}

searchTitle {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}