.listContainer {
    padding: 0;
    list-style: none;
    margin: 0;
}

.listItem {
    margin-bottom: 10px;
    font-size: 18px;
}

.listLink {
    text-decoration: none;
    color: black;
}

.listLink:hover {
    text-decoration: underline;
    color: #ff0066;
}